!Global.d.ts
.idea/
.nyc_output/
.vscode/
*.0x/
*.d.ts
*.js
*.log
*.map
*.tgz
*.tsbuildinfo
**repl**
coverage/
node_modules/
!packages/website/**/*.js
!packages/website/**.js
packages/website/build
packages/website/i18n
packages/docs/api
