language: node_js
cache:
  yarn: true
  directories:
    - ~/.npm
notifications:
  email: false
node_js:
  - 'stable'
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
script:
  - yarn lint
  - yarn test -R=min
before_install: yarn global add greenkeeper-lockfile@1
before_script: greenkeeper-lockfile-update
after_script: greenkeeper-lockfile-upload

after_success:
  - ./scripts/publish.sh
